// main: ./main.less

#basket-list {
    &.hidden {
        display: none;
    }
    thead {
        &.thead-light {
            background-color: lighten(@default_hover_color, 15%);
            color: @default_menu_color;

            tr {
                th {
                    background-color: inherit;
                }
            }
        }
    }
    tfoot {
        tr {
            &.table-dark {
                &>td {
                    background-color: @default_hover_color;
                }
            }
        }
    }
    tr {
        &#total-ht {
            display: none;
        }
    }
    i {
        &.icon-cross {
            color: @danger;
            cursor: pointer;
        }
    }
    a {
        &.btn {
            &.btn {
                &.btn-success {
                    background-color: @default_hover_color;
                    border-color: @default_hover_color;
                }
            }
        }
    }
}

#basket-warns {
    &.hidden {
        display: none;
    }

    p {
        &.inactive {
            display: none;
        }
    }
}

#address-selector {
    .container {
        #address-selector-group {
            &.hidden {
                display: none;
            }
        }
    }
}