<nav class="flex p2" id="{{ slug }}">
	<h3>{{ headerMenu.title.fr }}</h3>
	
	<ul class="list-unstyled">
		{% for option in options %}
			<li>
				<a href="#" title="{{ option.content.title.fr }}">
					{{ option.content.title.fr }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>