<h3>Un nouveau message vient d'être envoyé depuis le site</h3>

<ul>
	<li>Nom : <strong>{{ name }}</strong></li>
	<li>E-Mail : <strong>{{ email }}</li>
	<li>
		<p><strong>Message:</strong></p>
		<p>{{ message | nl2br }}</p>
	</li>
</ul>