{%  extends "base.html.twig" %}

{% block title %}
	Votre panier - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container" id="checkout">
	
		<!-- Inclusion du progress stepper -->
		{{ include("@Content/Default/checkoutstepper.html.twig", {"step": "basket-list"}) }}
		
		<div id="basket-list" role="list" class="row hidden">
			
		</div>
		
		<div id="basket-total" class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" id="fulltax-total">
				Total panier : <span class="fulltax-total"></span>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" id="next-step-wrapper">
				<a href="{{ path('delivery') }}" class="btn btn-success" role="button" id="next-step">
    				Livraison >>
    			</a>
			</div>
		</div>
    </div>
    

	
	{{ include("@Content/Default/dialog.html.twig") }}
{% endblock %}