{%  extends "base.html.twig" %}

{% block title %}
	Votre panier - Les Soeurs Théière
{% endblock %}

{% block body %}
	<div class="container">
    	<table id="basket-list" class="table table-hover table-bordered table-responsive hidden">
    		<thead class="thead-light">
    			<tr>
    				<th scope="col">Produit</th>
    				<th scope="col">Par</th>
    				<th scope="col">Quantité</th>
    				<th scope="col">Prix H.T.</th>
    				<th scope="col">Total H.T.</th>
    				<th scope="col">&nbsp;</th>
    			</tr>
    		</thead>
    		
    		<tbody>
    		</tbody>
    		
    		<tfoot>
    			<tr class="table-dark">
    				<td colspan="4">
    					Total H.T.
    				</td>
    				<td class="gran-total" colspan="2"></td>
    			</tr>
  				<tr class="table-dark">
    				<td colspan="4">
    					Total T.T.C.
    				</td>
    				<td class="fulltax-total" colspan="2"></td>
    			</tr>
    		</tfoot>
    	</table>
    </div>
{% endblock %}