<!-- Boîte de dialogue -->
<div class="dialog outer hidden" id="dialog">
	<div class="dialog inner">
		<header>
			<h4></h4>
		</header>
		
		<blockquote>
		</blockquote>
		
		<footer class="text-right">
			<button type="button" class="btn btn-secondary" id="btn-cancel">
				<i class="icon-cross"></i> <span></span>
			</button>
			<button type="button" class="btn btn-primary" id="btn-confirm">
				<i class="icon-checkmark"></i> <span></span>
			</button>
		</footer>
	</div>
</div>