<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Identifiez-vous</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="modal-login-form" class="form material-like">
      	<div class="modal-body">
        
			<div class="form-group">
				<input type="email" class="form-control" required name="login" id="login-content" autocomplete="nope">
				<span class="hightlight"></span>
				<span class="bar"></span>
				<label for="login-content">Votre email</label>
			</div>
				
			<div class="form-group">
				<input type="password" class="form-control" required name="password" id="password-content" autocomplete="nope">
				<span class="hightlight"></span>
				<span class="bar"></span>
				<label for="password-content">Votre mot de passe</label>
			</div>        	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" id="modal-signin" class="btn btn-primary" disabled>Valider</button>
          </div>
		</form>
    </div>
  </div>
</div>