{%  extends "base.html.twig" %}

{%  block title %}Mon compte - {{ parent() }}{%  endblock %}

{% block body %}
	<div class="container">
		<ul class="nav nav-tabs" id="myAccount" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" aria-controls="account" aria-selected="true">
					Mes informations
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" id="address-tab" data-toggle="tab" href="#addresses" aria-controls="addresses" aria-selected="false">
					Mes adresses
				</a>
			</li>			

			<li class="nav-item">
				<a class="nav-link disabled" id="order-tab" data-toggle="tab" href="#orders" aria-controls="orders" aria-selected="false">
					Mes commandes
				</a>
			</li>			
		</ul>
		
		<section class="tab-content" id="account-informations">
			<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
				{{ include("@User/Default/forms/information.html.twig") }}
			</div>
			
			<div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="address-tab">
				{{ include("@User/Default/forms/address.html.twig") }}
			</div>
			
			<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="order-tab">
				{{ include("@User/Default/forms/orders.html.twig") }}
			</div>
			
		</section>
	</div>
{% endblock %}