{%  extends "base.html.twig" %}

{%  block title %}Les Soeurs Théière - Créer un compte ou Identifiez-vous{%  endblock %}

{% block body %}
	<section class="row" id="user-forms">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
			<form id="signup" class="form material-like">
				<div class="form-group">
					<input type="email" class="form-control" required name="login" id="login-content" autocomplete="nope">
					<span class="hightlight"></span>
					<span class="bar"></span>
					<label for="login-content">Votre email</label>
				</div>
				
				<div class="form-group">
					<input type="password" class="form-control" required name="password" id="password-content" autocomplete="nope">
					<span class="hightlight"></span>
					<span class="bar"></span>
					<label for="password-content">Votre mot de passe</label>
				</div>
				
				<div class="form-group">
					<button type="submit" disabled id="login-btn" class="btn btn-outline-success">
						Identifiez-vous
					</button>
				</div>
				
				<div class="text-center">
					<a href="#" title="Mot de passe oublié">
						Mot de passe oublié ?
					</a>
				</div>
			</form>
		</div>
		
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
			<form id="signin" class="form material-like">
				<fieldset>
					<legend>Qui êtes-vous ?</legend>

					<div class="form-group">
						<label for="civility-content" aria-hidden="true" aria-labelled-by="civility-content">Civilité</label>
						<select class="form-control" name="civility" id="civility-content" data-rel="civility" data-content="true" size="1" required>
							<option value="" disabled selected>Civilité...</option>
							<option value="Madame">Madame</option>
							<option value="Mademoiselle">Mademoiselle</option>
							<option value="Monsieur">Monsieur</option>
						</select>
					</div>
					
					<div class="form-group">
						<input type="text" class="form-control" required name="name" id="name-content" data-rel="lastName" data-content="true" autocomplete="nope">
						<span class="hightlight"></span>
						<span class="bar"></span>
						<label for="name-content">Votre nom</label>
						
						<div class="alert alert-danger hidden" data-rel="name-content">
							Votre nom est obligatoire créer votre compte sur le site des Soeurs Théière
						</div>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" required name="forname" id="forname-content" data-rel="firstName" data-content="true" autocomplete="nope">
						<span class="hightlight"></span>
						<span class="bar"></span>
						<label for="forname-content">Votre prénom</label>
						
						<div class="alert alert-danger hidden" data-rel="forname-content">
							Veuillez indiquer votre prénom pour créer votre compte sur le site des Soeurs Théière
						</div>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" value="Particulier" required name="company" data-rel="company" data-content="true" id="company-content" autocomplete="nope">
						<span class="hightlight"></span>
						<span class="bar"></span>
						<label for="company-content">Société</label>
						
						<div class="alert alert-danger hidden" data-rel="company-content">
							Indiquez une société ou Particulier pour créer votre compte sur le site des Soeurs Théière
						</div>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" required name="phone" id="phone-content" data-rel="phone" data-content="true" autocomplete="nope">
						<span class="hightlight"></span>
						<span class="bar"></span>
						<label for="phone-content">Votre téléphone</label>
						
						<div class="alert alert-danger hidden" data-rel="phone-content">
							Indiquez un téléphone pour créer votre compte sur le site des Soeurs Théière
						</div>
					</div>												
				</fieldset>
				
				<fieldset>
					<legend>Choisissez votre identifiant</legend>
    				
    				<div class="form-group">
    					<input type="email" class="form-control" required name="email" id="email-content" data-rel="email" autocomplete="nope">
    					<span class="hightlight"></span>
    					<span class="bar"></span>
    					<label for="email-content">Votre email</label>
    					
						<div class="alert alert-danger hidden" data-rel="email-content">
							Utilisez votre adresse e-mail pour créer votre compte sur le site des Soeurs Théière
						</div>
    				</div>
    				
    				<div class="form-group">
    					<input type="password" class="form-control" required name="original-password" data-rel="password" id="original-password-content" autocomplete="nope">
    					<span class="hightlight"></span>
    					<span class="bar"></span>
    					<label for="original-password-content">Votre mot de passe</label>
    					
						<div class="alert alert-danger hidden" data-rel="name-content">
							Définissez votre mot de passe pour créer votre compte sur le site des Soeurs Théière
						</div>
    				</div>
    				
    				<div class="form-group">
    					<input type="password" class="form-control" required name="confirm-password" id="confirm-password-content" autocomplete="nope">
    					<span class="hightlight"></span>
    					<span class="bar"></span>
    					<label for="confirm-password-content">Confirmation</label>
    				</div>
    			</fieldset>
    			
    			<div class="form-group">
					<button type="submit" disabled id="signin-btn" class="btn btn-outline-success">
						Créez un compte
					</button>
					<input type="checkbox" class="hidden" aria-hidden="true" id="suck-robot" name="suckrobot">
				</div>	
			</form>
		</div>
		
	</section>
{% endblock %}
