<div class="modal fade" id="passwordRecovering-modal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">Réinitialiser votre mot de passe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="modal-passwordrecovering-form" class="form material-like">
      	<div class="modal-body">
        	<div class="toggle">
    			<div class="form-group">
    				<input type="email" class="form-control" required name="login" id="loginEmail-content" autocomplete="nope">
    				<span class="hightlight"></span>
    				<span class="bar"></span>
    				<label for="loginEmail-content">Votre email</label>
    				<div class="alert alert-danger hidden" id="invalid-email">
    					Aucun compte n'est associé à cette adresse e-mail
    				</div>
    			</div>
    				
    			<div class="form-group">
    				<input type="text" class="form-control" required name="userName" id="userName-content" autocomplete="nope">
    				<span class="hightlight"></span>
    				<span class="bar"></span>
    				<label for="userName-content">Votre nom</label>
    			</div>
    			
    			<div class="alert alert-danger hidden" id="invalid-pair">
    				Il n'existe aucun compte avec ce nom associé à cette adresse e-mail.
    			</div>
    		</div>      	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="recover-modal-dismiss">Annuler</button>
            <button type="submit" id="modal-recovering" class="btn btn-primary" disabled>Réinitialiser</button>
          </div>
		</form>
    </div>
  </div>
</div>