{%  extends "base.html.twig" %}

{%  block title %}Réinitialisation de votre mot de passe - {{ parent() }}{%  endblock %}

{% block body %}
	<section class="row" id="password-reset">
		<article class="col-12">
			<header>
				<h1>
    				{%  if status == "ok" %}
    					{{ site.getName() }} - Votre mot de passe a été modifié
    				{% else %}
    					{{ site.getName() }} - Votre mot de passe n'a pas pu être modifié
    				{% endif %}
				</h1>
			</header>
			
			<p class="password-reset-content">
				{%  if status == "ok" %}
					Votre mot de passe a bien été réinitialisé et vous a été transmis par mail.<br>
					Identifiez-vous à l'aide de ce nouveau mot de passe sur notre site et<br>
					n'hésitez pas à modifier ce dernier pour plus de facilité.<br>
					Nous vous remercions de votre confiance.<br>
					<span>Les Soeurs Théière</span>
				{% else %}
					Nous sommes désolées de n'avoir pu faire aboutir votre demande de réinitialisation de mot de passe.<br>
					Le délai avant utilisation de votre code est de 24h, vous pouvez toujours revenir sur la rubrique<br>
					<a href="{{ path('signin-form') }}" title="Réinitialisation du mot de passe">Mon Compte</a> et faire une nouvelle demande de réinitialisation.<br>
					<span>Les Soeurs Théière</span>
				{% endif %}
			</p>
		</article>
	</section>
{% endblock %}
