// main: ./main.less

.ariane {
    font-size: 0.7em;
    font-weight: normal;
    color: @default_menu_color;

    ol {
        &.breadcrumb-item {
            a {
                color: inherit;
                font-weight: inherit;
                font-size: inherit;
                text-decoration: none;
            }
        }
    }
}