/**
* @name variables.less
**/
/**
* Bootstrap like colors
**/
@import "style.css";
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#main-header {
  height: 10em;
}
#main-header #user-menu .wrapper {
  height: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#main-header #user-menu .wrapper a {
  text-decoration: none;
  color: #000000;
}
#main-header #user-basket .wrapper {
  height: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#main-header #user-basket .wrapper a {
  text-decoration: none;
  color: #000000;
}
#main-header #user-basket .wrapper span.badge {
  padding: 0.5em;
}
#main-header #user-basket .wrapper span.badge.exposant {
  vertical-align: super;
}
#main-header #user-contact .wrapper {
  height: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#main-header #user-contact .wrapper a {
  text-decoration: none;
  color: #000000;
}
/**
* MIXIN : Alignement vertical
**/
#main-footer {
  background: #343a40;
  font-size: 0.7em;
  padding-top: 0.8em;
}
#main-footer nav h3 {
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}
#main-footer nav ul.list-unstyled li {
  color: #ffffff;
  font-weight: normal;
}
#main-footer nav ul.list-unstyled li a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
#main-footer nav ul.list-unstyled li a:hover,
#main-footer nav ul.list-unstyled li a:active,
#main-footer nav ul.list-unstyled li a:visited {
  color: inherit;
}
#user-menu a {
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
  height: 3em;
  padding: .5em;
  text-align: center;
}
#user-menu a:hover {
  background-color: #f9dbbc;
}
#main-nav.navbar.navbar-light.bg-light {
  background-color: #ed912f !important;
}
#main-nav.navbar.navbar-light.bg-light ul li.nav-item {
  width: 15em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}
#main-nav.navbar.navbar-light.bg-light ul li.nav-item a.nav-link {
  color: inherit;
}
#promotions .promotion {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#promotions .promotion figure {
  padding: 0.3em;
  background-color: #d8dbdd;
}
#promotions .promotion figure.card {
  border-radius: 0;
}
#promotions .promotion figure figcaption {
  color: #343a40;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: .8em;
  font-weight: bold;
  transition: color 0.3s ease;
}
#promotions .promotion figure:hover figcaption {
  color: #ed912f;
}
article#editorial.with-padding {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  article#editorial.with-padding {
    padding: 10em;
    text-align: justify;
  }
}
article#editorial.with-padding blockquote {
  background-color: #ed912f;
  font-size: 1em;
  padding: 3em;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  article#editorial header {
    padding-left: 60%;
  }
}
article#editorial header h1 {
  font-family: "Great Vibes";
  font-size: 3.5em;
  color: #ed912f;
}
article#editorial header h2 {
  color: #000000;
}
article#box-discovering {
  background-color: #ed912f;
  padding: 3em;
}
article#box-discovering header h3 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1.8em;
  font-weight: bold;
  font-size: 2.1em;
}
article#box-discovering blockquote {
  color: #ffffff;
  text-align: justify;
}
article#box-discovering a.btn.btn-light {
  text-align: center;
  border-radius: 0;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}
article#month-product {
  padding: 3em;
}
article#month-product header h3 {
  color: #ed912f;
  font-size: 2.1em;
  text-align: center;
  text-transform: none;
  margin-bottom: 1em;
  line-height: 1.8em;
  font-weight: bold;
}
article#month-product header h3 span {
  color: #000000;
}
article#month-product figure figcaption {
  display: none;
}
article#month-product a.btn.btn-outline-light {
  text-align: center;
  color: #343a40;
  border-color: #343a40;
  border-radius: 0;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}
article#heart-product {
  padding: 3em;
}
article#heart-product header h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
article#heart-product figure figcaption {
  display: none;
}
article#heart-product a.btn {
  display: none;
}
div#heart-home {
  margin-top: 5em;
}
div#heart-home article#home-meeting {
  background: url("images/img_ventes_privees.png");
  background-repeat: no-repeat;
}
div#heart-home article#home-meeting .wrapper {
  height: 50%;
  padding-top: 5em;
}
div#heart-home article#home-meeting .wrapper header h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
div#heart-home article#home-meeting .wrapper blockquote {
  text-align: justify;
}
figure.card figcaption {
  width: 100%;
  height: 3em;
  text-align: center;
}
form.material-like input[type="checkbox"].hidden {
  display: none;
}
form.material-like textarea:hover,
form.material-like input:hover,
form.material-like textarea:active,
form.material-like input:active,
form.material-like textarea:focus,
form.material-like input:focus,
form.material-like button:focus,
form.material-like button:active,
form.material-like button:hover,
form.material-like label:focus,
form.material-like select:focus,
form.material-like .btn:active,
form.material-like .btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
}
form.material-like div.alert.hidden {
  display: none;
}
form.material-like textarea {
  resize: none;
}
form.material-like .form-group {
  position: relative;
  margin-bottom: 2.8125em;
}
form.material-like .form-group .form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form.material-like .form-group input,
form.material-like .form-group textarea {
  background: none;
  color: #868e96;
  font-size: 1em;
  padding: .625em .625em .625em .3125em;
  display: block;
  width: inherit;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #868e96;
}
form.material-like .form-group input:focus,
form.material-like .form-group textarea:focus {
  outline: none;
}
form.material-like .form-group input:focus ~ .bar::before,
form.material-like .form-group textarea:focus ~ .bar::before {
  width: inherit;
}
form.material-like .form-group select {
  appearance: none;
  background-color: transparent;
  width: 100%;
  padding: .5em 0;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #868e96;
  position: relative;
}
form.material-like .form-group select.form-control {
  border-radius: 0;
}
form.material-like .form-group select:after {
  position: absolute;
  top: .75em;
  right: .5em;
  /* Flèche */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid #868e96;
  pointer-events: none;
}
form.material-like .form-group label {
  color: #868e96;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: .3125em;
  top: .625em;
  transition: 300ms ease all;
}
form.material-like .form-group label[aria-hidden] {
  display: none;
}
form.material-like .form-group input:focus ~ label,
form.material-like .form-group input:valid ~ label,
form.material-like .form-group textarea:focus ~ label,
form.material-like .form-group textarea:valid ~ label {
  top: -0.875em;
  font-size: 0.7em;
  color: #000000;
}
form.material-like .form-group .bar {
  position: relative;
  display: block;
  width: 20em;
}
form.material-like .form-group .bar::before {
  content: '';
  height: 0.125em;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #000000;
  transition: 300ms ease all;
  left: 0;
}
.ariane {
  font-size: 0.7em;
  font-weight: normal;
  color: #000000;
  background-color: transparent;
  margin-top: 2em;
}
.ariane ol {
  background-color: inherit;
}
.ariane ol li.breadcrumb-item a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: all .5s ease;
}
.ariane ol li.breadcrumb-item a:hover {
  font-weight: bold;
  text-decoration: underline;
}
section.category-products header {
  background-color: #ed912f;
}
section.category-products header h1 {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: .1em;
}
section.category-products header.child {
  background-color: transparent;
}
section.category-products header.child h2 {
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  color: #ed912f;
  letter-spacing: .1em;
}
section.category-products article.card header.card-header {
  background-color: #ed912f;
  height: 5em;
}
section.category-products article.card header.card-header h2.card-title,
section.category-products article.card header.card-header h3.card-title {
  color: #ffffff;
  height: 2em;
  font-size: .9em;
}
section.category-products article.card div.card-body {
  height: 25em;
  min-height: 25em;
  height: auto;
}
section.category-products article.card div.card-body p.card-text {
  height: 10em;
  min-height: 10em;
  height: auto;
  font-size: .9em;
  text-align: justify;
}
section.category-products article.card div.min-price {
  padding-right: 5%;
}
section.category-products article.card div.min-price p.badge {
  padding: 0.3em;
}
section.category-products article form.form-cart {
  background-color: #f9dbbc;
  padding: 0.5em;
  margin-top: 1em;
}
section.product-container aside#decor-produit {
  margin-top: .5em;
  padding: 1em;
  font-size: .7em;
  font-weight: bold;
  background-color: #f9dbbc;
}
section.product-container #product-slider ol.carousel-indicators li {
  background-color: #868e96;
}
section.product-container #product-slider ol.carousel-indicators li.active {
  background-color: #343a40;
}
section.product-container #product-slider a span.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
section.product-container #product-slider a span.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#basket-list.hidden {
  display: none;
}
#banner-rgpd {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f5c38d;
  color: #ffffff;
}
/**
* Importation des polices
**/
/**
* Styles globaux
**/
body {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 1rem;
}
i[class^="icon-"],
i [class*=" icon-"] {
  display: inline-block;
  margin-right: .5em;
}
.toast {
  border: solid 1px;
  padding: 1em;
  position: absolute;
  border-radius: 3px;
  box-shadow: #000 3px 3px 3px;
}
.toast.top {
  top: 0;
  left: 0;
}
.toast.top-center {
  top: 0;
  left: 50%;
}
.toast.top-left {
  top: 0;
  left: 0;
}
.toast.top-right {
  top: 0;
  right: 80%;
}
.toast.middle {
  top: 50%;
  left: 0;
}
.toast.middle-center {
  top: 50%;
  left: 50%;
}
.toast.middle-left {
  top: 50%;
  left: 0;
}
.toast.middle-right {
  top: 50%;
  right: 80%;
}
.toast.bottom {
  top: 90%;
  left: 0;
}
.toast.bottom-center {
  top: 90%;
  left: 50%;
}
.toast.bottom-left {
  top: 90%;
  left: 0;
}
.toast.bottom-right {
  top: 90%;
  right: 80%;
}
.toast.primary {
  color: #ffffff;
  background-color: #007bff;
}
.toast.success {
  color: #ffffff;
  background-color: #28a745;
}
.toast.info {
  color: #ffffff;
  background-color: #17a2b8;
}
.toast.warning {
  color: #ffffff;
  background-color: #ffc107;
}
.toast.danger {
  color: #ffffff;
  background-color: #dc3f45;
}
.toast.secondary {
  color: #ffffff;
  background-color: #868e96;
}
