// main: ./main.less
#main-header {
    height: 10em;
    //position: relative;

    #user-menu {
        //.vertical-alignement;
    }

    #search {
        //.vertical-alignement;
    }

    #logo-soeurs-theiere {}

    #user-basket {
        //.vertical-alignement;
    }
    #user-contact {
        //.vertical-alignement;
    }

}

/**
* MIXIN : Alignement vertical
**/
.vertical-alignement() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}